#root {
  background-color: hsl(185, 41%, 84%);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.app-title {
  padding: 40px 0px 40px 0px;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: hsl(185, 41%, 84%);
  display: flex;
  align-items: center;
  color: hsl(183, 80%, 24%);
  justify-content: center;
}
.app-title h1 {
  margin: 0;
  text-align: right;
  word-wrap: break-word;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 10px;
  color: hsl(183, 100%, 15%);
}

.app-content {
  padding: 0px 20px 10px 20px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px 20px 0 0;
  height: fit-content;
}
.app-calc-bill {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.app-result-bill {
  margin-top: 25px;
}

/* Desktop View */
@media screen and (min-width: 768px) {
  #root {
    width: 100vw;
    background-color: hsl(185, 41%, 84%);
  }
  .app-content {
    height: 60vh;
    width: 70vw;
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
    border-radius: 20px;
  }
  .app-calc-bill, .app-result-bill {
    width: 50%;
  }
  .app-result-bill {
    margin-top: 0;
  }
}
