#root {
  height: 100vh;
  text-align: center;
  min-height: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 18vh;
  width: 100%;
  background-color: hsl(185, 41%, 84%);
  display: flex;
  align-items: center;
  color: hsl(183, 80%, 24%);
  justify-content: center;
  z-index: -1;
}
.app-title p {
  margin: 0;
  text-align: right;
  word-wrap: break-word;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 10px;
  color: hsl(183, 100%, 15%);
}

.app-content {
  height: 85vh;
  margin-top: 15vh;
  padding: 5px 20px 10px 20px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px 20px 0 0;
}

.app-result-bill {
  margin-top: 25px;
}

/* Desktop View */
@media screen and (min-width: 768px) {
  #root {
    width: 100vw;
    padding-left: 12%;
    padding-right: 12%;
    background-color: hsl(185, 41%, 84%);
  }
  .app-title {
    width: 76%;
    z-index: 1;
  }
  .app-content {
    height: 60vh;
    margin-top: 150px;
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
    border-radius: 20px;
  }
  .app-calc-bill, .app-result-bill {
    width: 50%;
  }
}