#root {
  height: 100vh;
  text-align: center;
  min-height: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 18vh;
  z-index: -1;
  width: 100%;
  background-color: hsl(185, 41%, 84%);
  display: flex;
  align-items: center;
  color: hsl(183, 80%, 24%);
  justify-content: center;
}
.app-title p {
  margin: 0;
  text-align: right;
  width: 25%;
  word-wrap: break-word;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 10px;
  color: hsl(183, 100%, 15%);
}

.app-content {
  height: 85vh;
  margin-top: 15vh;
  padding: 5px 20px 10px 20px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px 20px 0 0;
}