.bill-wrapper {
  margin: 12px;
  text-align: left;
}

.bill-input {
  background-color: hsl(189, 41%, 97%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  border-radius: 5px;
}

p {
  color: hsl(184, 14%, 56%);
}

input {
  all: unset;
  text-align: right;
  color: hsl(183, 100%, 15%);
}

svg {
  align-items: center;
  justify-content: center;
}