.bill-wrapper {
  margin: 12px;
  text-align: left;
}

.bill-input-header {
  display: flex;
  justify-content: space-between;
}

/* error styling */
.text-error {
  color: hsl(15, 31%, 58%);
}
.bill-input-error {
  background-color: hsl(189, 41%, 97%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  border: solid 2px hsl(15, 31%, 58%);
  border-radius: 5px;
}

.bill-input {
  caret-color: hsl(172, 67%, 45%);
  background-color: hsl(189, 41%, 97%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  border: solid 2px hsl(189, 41%, 97%);
  border-radius: 5px;
}
.bill-input:focus-within {
  border: solid 2px hsl(172, 67%, 45%);
}
.bill-input > input {
  width: 80%;
}

p {
  color: hsl(186, 14%, 43%);
}

input {
  all: unset;
  text-align: right;
  color: hsl(183, 100%, 15%);
  font-size: 24px;
}

svg {
  align-items: center;
  justify-content: center;
}

/* Desktop View */
@media screen and (min-width: 768px) {
  .bill-wrapper {
    margin-top: 0;
  }
}