.people-wrapper {
  margin: 12px;
  text-align: left;
}

.people-input-header {
  display: flex;
  justify-content: space-between;
}

/* error styling */
.text-error {
  color: hsl(15, 31%, 58%);
}
.people-input-error {
  background-color: hsl(189, 41%, 97%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  border: solid 2px hsl(15, 31%, 58%);
  border-radius: 5px;
}

.people-input {
  background-color: hsl(189, 41%, 97%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  border: solid 2px hsl(189, 41%, 97%);
  border-radius: 5px;
}
.people-input:hover {
  border: solid 2px hsl(172, 67%, 45%);
  -ms-progress-appearance: none;
}
.people-input > input {
  width: 80%;
}

p {
  color: hsl(184, 14%, 56%);
}

input {
  all: unset;
  text-align: right;
  color: hsl(183, 100%, 15%);
}

svg {
  align-items: center;
  justify-content: center;
}