.result-wrapper {
  border-radius: 15px;
  background-color: hsl(183, 100%, 15%);
  margin: 6px;
  padding: 20px;
}

.span-result {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.span-result > div {
  text-align: left;
}

.span-result > div > h3, .span-result > div > p {
  margin: 0px;
}

.span-result > p {
  font-size: 32px;
  margin: 15px 0px;
  color: hsl(172, 67%, 45%);
}
.span-result > p > svg path {
  fill: hsl(172, 67%, 45%);
}

.reset-button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  color: hsl(183, 100%, 15%);
  background-color: hsl(172, 67%, 45%);
}
.reset-button:disabled {
  background-color: hsl(183, 80%, 24%);
  color: hsl(183, 100%, 15%);
}

/* Desktop View */
@media screen and (min-width: 768px) {
  .result-wrapper {
    height: 100%;
    padding: 35px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .reset-button:enabled:hover {
    background-color: hsl(173, 61%, 77%);
  }
}
  