.tip-wrapper {
    text-align: left;
    font-size: 12px;
}

.tip-input-header {
    display: flex;
    justify-content: space-between;
    margin-left: 12px;
}
.tip-input-header p {
    color: hsl(186, 14%, 43%);
    font-size: 16px;
}

.tips {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.custom-input {
    background-color: hsl(189, 41%, 97%);
    color: hsl(183, 100%, 15%);
    outline-color: hsl(172, 67%, 45%);
    caret-color: hsl(172, 67%, 45%);
    width: 45%;
    border: 0;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: end;
    font-size: 24px;
    margin: 6px;
    padding: 0px 15px 0px 0px;
}
.custom-input::placeholder {
    color: hsl(186, 14%, 43%);
}
.custom-input:hover {
    border: 2px solid hsl(172, 67%, 45%);
}