.tip-button {
    font-size: 24px;
    background-color: hsl(183, 100%, 15%);
    border-radius: 5px;
    border: 0;
    width: 45%;
    margin: 6px;
    padding: 5px 15px;
}
.tip-button:focus {
    background-color: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
}